# Server Configuration
PORT=
NODE_ENV=

# PostgreSQL Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# CORS
CLIENT_URL=
VITE_API_URL=

# JWT Secret
JWT_SECRET=

# Cloudinary (Lấy từ https://cloudinary.com/console)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=